@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e1e1e1;
  --foreground: #171717;
  --card-color: red;
  --G:rgb(76 119 76);
  --U: rgb(33 116 164);
  --W:#f0f2c0;
  --R:#d93a25;
  --B:#191b17;
  --GOLD:#a9a713;  
  --ARTIFACT:#8b7565;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:Roboto, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.btn{
  margin-top: 1em;
  padding: 0.5em;
  background-color: #171717;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label{
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  resize: none;
}


.page{
  background-color: white;
  width: 210mm;
  min-height: 297mm;
  margin: auto;
  padding-left: 1cm;
  padding-top: 1cm;
}

.ARTIFACT{
  background:var(--ARTIFACT);
}

.GOLD {
  background:var(--GOLD);
}

.G {
  background:var(--G);
}

.U {
  background: var(--U);
}

.W {
  background: var(--W);
}

.R {
  background: var(--R);
}

.B {
  background: var(--B);
}

.UW {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--W) 45%,var(--U) 55%);
}

.GW {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--G) 45%,var(--W) 55%);
}

.GU {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--G) 45%,var(--U) 55%);
}

.BG {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--B) 45%,var(--G) 55%);
}

.BU {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--B) 45%,var(--U) 55%);
}

.BR {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--B) 45%,var(--R) 55%);
}

.RW {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--R) 45%,var(--W) 55%);
}

.RU {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--R) 45%,var(--U) 55%);
}
