@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e1e1e1;
  --foreground: #171717;
  --card-color: red;
  --G:rgb(76 119 76);
  --U: rgb(33 116 164);
  --W:#f2f3ed;
  --R:#d93a25;
  --B:#191b17;
  --GOLD:#a9a713;  
  --ARTIFACT:#8b7565;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:Roboto, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page{
  background-color: white;
  width: 210mm;
  min-height: 297mm;
  margin: auto;
}

.ARTIFACT{
  background:var(--ARTIFACT);
}

.GOLD {
  background:var(--GOLD);
}

.G {
  background:var(--G);
}

.U {
  background: var(--U);
}

.W {
  background: var(--W);
}

.R {
  background: var(--R);
}

.B {
  background: var(--B);
}

.UW {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--W) 45%,var(--U) 55%);
}

.GW {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--G) 45%,var(--W) 55%);
}

.GU {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--G) 45%,var(--U) 55%);
}

.BU {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--B) 45%,var(--U) 55%);
}

.BR {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--B) 45%,var(--R) 55%);
}

.RW {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--R) 45%,var(--W) 55%);
}

.RU {
  /* max-width: 250px; */
  background: linear-gradient(to right, var(--R) 45%,var(--U) 55%);
}
